<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techstack.pms.dao.mybatis.facade.impl.PmsRoleDaoFacadeImpl">
	
	<resultMap id="RoleMap" type="com.techstack.pms.dao.mybatis.entity.PmsRole">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="ROLE_TYPE" property="roleType" />
		<result column="ROLE_NAME" property="roleName" />
		<result column="REMARK" property="remark" />
	</resultMap>
	
	<resultMap id="RoleUserMap" type="com.techstack.pms.dao.mybatis.entity.PmsRoleUser">
	    <id column="ID" property="id" />
		<result column="ROLE_ID" property="roleId" />
		<result column="USER_ID" property="userId" />
	</resultMap>

	<select id="listAllRole" resultMap="RoleMap">
    	select * from PMS_ROLE order by ID
  	</select>
  	
  	<select id="getRoleByRoleName" parameterType="string" resultMap="RoleMap">
    	select * from PMS_ROLE where ROLE_NAME = #{roleName}
  	</select>
  	
  	<select id="findRoleByRoleNameNotEqId" parameterType="java.util.Map" resultMap="RoleMap">
    	select * from PMS_ROLE where ID != #{id} and ROLE_NAME = #{roleName}
  	</select>
	
	<select id="listRoleByActionId" parameterType="long" resultMap="RoleMap">
    	select R.* from PMS_ROLE R 
    	LEFT JOIN PMS_ROLE_ACTION RA 
    	ON R.ID = RA.ROLE_ID where RA.ACTION_ID = #{actionId}
    	order by R.ID ASC
  	</select>
  	
  	<select id="listRoleUserByUserId" parameterType="long" resultMap="RoleUserMap">
		select * from PMS_ROLE_USER where USER_ID = #{userId}
	</select>
	
</mapper>